table {
    table-layout: fixed;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.demarcator hr {
    border-top: 3px dotted black;
    width: 100%;
    align-self: center;
    padding-bottom: 2rem;
}

.equation {
    text-align: center;
    align-items: center;
}

.title-image img {
    width: 85%;
}

.image img {
    width: 100%;
}

.verse {
    width: 100%;
    padding: 2rem;
    padding-left: 1rem;
}

.quote InstagramEmbed {
    text-align: center;
    align-self: center;
}

.quran {
    text-align: center;
    font-size: 2.5rem;
}

.bible {
    text-align: center;
}

.quote {
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Charter', 'Grad', 'Cheltenham';
    padding: 1rem;
    font-style: italic;
}

.quran em {
    font-size: 1.5rem;
    text-align: center;
}

.title-quote {
    font-size: 1.5rem;
    color: red;
    text-align: center;
    font-family: 'Charter', 'Grad', 'Cheltenham';
}

.block-quote {
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    font-family: 'Charter', 'Grad', 'Cheltenham';
    padding: 1rem;
}

.chapter-title {
    font-size: 4rem;
    text-align: center;
    font-style: italic bold;
    font-family: 'Charter', 'Grad', 'Cheltenham';
}

tr {
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'Charter', 'Grad', 'Cheltenham';
    padding: 1em;
}

.salutation {
    text-align: right;
    padding: 2rem;
}

.heading {
    font-size: 7rem;
    color: red;
    text-align: center;
    opacity: 0.5;
    font-family: 'Charter', 'Grad', 'Cheltenham';
}