body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.Navbar-brand {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-size: 3rem !important;
    font-weight: bolder;
    /* padding: 0.1em; */
}

.short-text {
    display: none;
}

@media (max-width: 768px) {
    .short-text {
        display: inline-block;
    }
    .full-text {
        display: none;
    }
}


/* Large devices (large desktops, 1200px and up) */


/* @media (min-width: @screen-lg-min) {...} */

.Button {
    margin-inline-start: 1vw;
}